<footer class="main-footer">
  <div class="container footer-container">
    <section class="footer-summary">
      <a href="javascript:void(0)">
        <h2 class="footer-logo">
          <svg class="header-logo-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 19">
            <use xlink:href="./assets/images/brand-logo.svg#brand-logo"></use>
          </svg><!---
          --><span class="brand-name">BeeSound</span>
        </h2>
      </a>
      <p class="summary-content">
        BeeSound is the one of the world's largest online shops that
        providing over 1500 headphones for its costumers from over 80 countries
      </p>
      <ul class="footer-social-link-list">
        <li class="footer-link-item">
          <a href="javascript:void(0)" class="btn footer-link link-instagram">
            <svg class="icon-svg icon-instagram" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <use xlink:href="./assets/images/social-icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-link-item">
          <a href="javascript:void(0)" class="btn footer-link link-linkedin">
            <svg class="icon-svg icon-linkedin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <use xlink:href="./assets/images/social-icons.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="footer-link-item">
          <a href="javascript:void(0)" class="btn footer-link link-telegram">
            <svg class="icon-svg icon-telegram" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <use xlink:href="./assets/images/social-icons.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-link-item">
          <a href="javascript:void(0)" class="btn footer-link link-whatsapp">
            <svg class="icon-svg icon-whatsapp" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <use xlink:href="./assets/images/social-icons.svg#whatsapp"></use>
            </svg>
          </a>
        </li>
      </ul>
    </section>
    <section class="site-map">
      <h2 class="footer-heading">Site Map</h2>
      <ul class="footer-link-list">
        <li class="footer-link-item">
          <a class="nav-link" href="javascript:void(0)">About Us</a>
        </li>
        <li class="footer-link-item">
          <a class="nav-link" href="javascript:void(0)">Contact Us</a>
        </li>
        <li class="footer-link-item">
          <a class="nav-link" href="javascript:void(0)">FAQ's</a>
        </li>
        <li class="footer-link-item">
          <a class="nav-link" href="javascript:void(0)">Customers Services</a>
        </li>
      </ul>
    </section>
    <section class="products">
      <h2 class="footer-heading">Products</h2>
      <ul class="footer-link-list">
        <li class="footer-link-item">
          <a class="nav-link" href="javascript:void(0)">Headphones</a>
        </li>
        <li class="footer-link-item">
          <a class="nav-link" href="javascript:void(0)">Speakers</a>
        </li>
      </ul>
    </section>
    <section class="subcription">
      <form action="javascript:void(0)" class="form-default">
        <input type="text" class="form-control input-subscription"
          placeholder="Enter Your Email">
        <button class="btn btn-primary btn-submit">
          Submit Your Email
        </button>
      </form>
    </section>
  </div>
</footer>
