.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 53px 20px 71px;
}

.header-logo {
  font-size: var(--font-size-md);
}

.header-logo-svg {
  width: 14px;
  height: 19px;
  fill: none;
}

.brand-name {
  padding-left: 4px;
}

.nav-menu {
  display: flex;
  gap: 0 85px;
}

.nav-link {
  &:hover {
    text-decoration: underline;
  }
}

.menu-buttons {
  display: flex;
  gap: 0 36px;
}

.btn-search {
  border: none;
  background-color: transparent;
}

.menu-icon-svg {
  width: 24px;
  aspect-ratio: 1 / 1;
  fill: none;
}

.btn-entry {
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  padding: 10px 32px;
  font-size: var(--font-size-base);
  background-color: transparent;
  color: var(--color-primary);

  &:hover {
    border-color: var(--color-success);
    color: var(--color-success);
  }
}

@media (max-width: 1028px) {
  .navbar {
    display: none
  }
}
