.btn {
  transition: transform .2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.btn-primary {
  border: none;
  border-radius: 10px;
  font-size: var(--font-size-2sm);
  font-weight: var(--font-weight-medium);
}

.btn-submit {
  padding: 16px;
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
}

.btn-entry {
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  padding: 10px 30px;
  font-size: var(--font-size-base);
  background-color: transparent;
  color: var(--color-primary);

  &:hover {
    border-color: var(--color-success);
    color: var(--color-success);
  }
}

.btn-danger {
  padding: 16px;
  background-color: var(--color-primary);
  color: var(--bg-color-btn-primary);
}

.btn-success {
  min-width: 244px;
  padding: 16px;
  background-color: var(--bg-color-btn-primary);
  color: var(--color-text-secondary);
}

.btn-option-color {
  display: block;
  border: none;
  border-radius: 50%;
  width: 27px;
  height: 27px;

  &[data-color="light"] {
    background-color: var(--color-light);
  }
  
  &[data-color="black"] {
    background-color: var(--color-black);
  }
  
  &[data-color="space-cadet"] {
    background-color: var(--color-space-cadet);
  }
}
