.product-thumbnail {
  margin-bottom: 25px;
  max-width: 303px;
  max-height: 359px;
}

.product-info {
  font-size: var(--font-size-2md);
  line-height: var(--line-height-lg);
  font-weight: var(--font-weight-medium);
}

.product-title {
  margin-bottom: 9px;
}

.product-name {
  margin-bottom: 9px;
}

.product-option-colors {
  display: flex;
  gap: 0 13px;
  margin-top: 9px;
  margin-bottom: 25px;
}

.product-color-input {
  display: none;
}
