.toastify {
  --color-text-success: #155724;
  --color-text-danger: #721c24;

  --background-color-success: #d4edda;
  --background-color-danger: #f8d7da;

  --border-color-success: #c3e6cb;
  --border-color-danger: #f5c6cb;

  border-width: 1px;
}

.toastify {
  font-size: var(--font-size-md);
  padding: 24px;
  border-radius: 6px;
  text-align: center;

  &.toastify-success {
    color: var(--color-text-success);
    background: var(--background-color-success);
    border-color: var(--border-color-success);
  }

  &.toastify-danger {
    color: var(--color-text-danger);
    background: var(--background-color-danger);
    border-color: var(--border-color-danger);
  }
}
