<div class="product-item">
  <figure class="product-thumbnail">
    <a href="javascript:void(0)">
      <img src="./assets/images/apple-airpods.png" alt="Apple Airpods">
    </a>
  </figure>
  <div class="product-details">
    <a href="javascript:void(0)">
      <h2 class="product-name">
        Apple Airpods
      </h2>
    </a>
    <ul class="product-option-colors">
      <li class="product-option-color">
        <button class="btn btn-option-color btn-option-light">

        </button>
      </li>
      <li class="product-option-color">
        <button class="btn btn-option-color btn-option-black">

        </button>
      </li>
    </ul>
    <p class="product-price">BAM 29.99</p>
  </div>
</div>
