<div class="product-item">
  <figure class="product-thumbnail">
    <a href="javascript:void(0)">
      <img
      src="./assets/images/product-images/apple-airpods.png" alt="Apple Airpods">
    </a>
  </figure>
  <div class="product-details">
    <a href="javascript:void(0)">
      <h2 class="product-title product-info">
        Apple Airpods
      </h2>
    </a>
    <ul class="product-option-colors">
      <li class="product-option-color">
        <label class="btn btn-option-color" data-color="light" for="product-color-light">
        </label>
        <input type="radio" id="product-color-light"
          class="product-color-input" name="product-color" value="light">
      </li>
      <li class="product-option-color">
        <label class="btn btn-option-color" data-color="black" for="product-color-black">
        </label>
        <input type="radio" id="product-color-black"
          class="product-color-input" name="product-color" value="black">
      </li>
      <li class="product-option-color">
        <label class="btn btn-option-color" data-color="space-cadet" for="product-color-space-cadet">
        </label>
        <input type="radio" id="product-color-space-cadet" class="product-color-input" name="product-color" value="space-cadet">
      </li>
    </ul>
    <p class="product-info">BAM 29.99</p>
  </div>
</div>
