<section>
  <div class="container add-product-container">
    <h2 class="main-heading">Add New Product</h2>
    <form action="javascript:void(0)" class="form-default add-form"
    enctype="multipart/form-data">
      <div class="flex-column">
        <label class="label-primary" for="name">Name</label>
        <input type="text" class="form-control input-size-md">
      </div>
      <div class="flex-column">
        <label class="label-primary" for="brand">Brand</label>
        <input type="text" class="form-control input-size-md">
      </div>
      <div class="flex-column">
        <label class="label-primary" for="model">Model Name</label>
        <input type="text" class="form-control input-size-md">
      </div>
      <div class="flex-column">
        <label class="label-primary" for="color">Color</label>
        <input type="text" class="form-control input-size-md">
      </div>
      <div class="flex-column">
        <label class="label-primary" for="form-factor">Form Factor</label>
        <input type="text" class="form-control input-size-md">
      </div>
      <div class="flex-column">
        <label class="label-primary" for="connectivity-technology">Connectivity Technology</label>
        <input type="text" class="form-control input-size-md">
      </div>
      <div class="flex-column">
        <label class="label-primary" for="amount">Amount</label>
        <input type="text" class="form-control input-size-md">
      </div>
      <div class="flex-column">
        <label class="label-primary" for="product-image">Image</label>
        <input type="file" id="product-image" class="form-control input-size-md">
      </div>
      <div class="flex-row">
        <button type="submit" class="btn btn-primary btn-submit">Submit</button>
        <button type="button" class="btn btn-primary btn-danger">Cancel</button>
      </div>
    </form>
  </div>
</section>
