<section>
  <div class="container main-products-container">
    <!-- <include src="./views/components/product-item.html"></include>
    <include src="./views/components/product-item.html"></include>
    <include src="./views/components/product-item.html"></include>
    <include src="./views/components/product-item.html"></include>
    <include src="./views/components/product-item.html"></include>
    <include src="./views/components/product-item.html"></include>
    <include src="./views/components/product-item.html"></include>
    <include src="./views/components/product-item.html"></include> -->
  </div>
</section>
