<section class="product-detail-section">
  <div class="container product-detail-container">
    <figure class="product-preview">
      <img src="./assets/images/apple-airpods.png" alt="Apple Airpods">
    </figure>
    <div class="product-details">
      <h2 class="product-info">Beats By Dre</h1>
      <ul class="product-option-colors">
        <li class="product-option-color">
          <label class="btn btn-option-color" data-color="light" for="product-color-light">
          </label>
          <input type="radio" id="product-color-light" class="product-color-input" name="product-color" value="light">
        </li>
        <li class="product-option-color">
          <label class="btn btn-option-color" data-color="black" for="product-color-black">
          </label>
          <input type="radio" id="product-color-black" class="product-color-input" name="product-color" value="black">
        </li>
        <li class="product-option-color">
          <label class="btn btn-option-color" data-color="space-cadet" for="product-color-space-cadet">
          </label>
          <input type="radio" id="product-color-space-cadet" class="product-color-input" name="product-color" value="space-cadet">
        </li>
      </ul>
      <p class="product-info product-price">BAM 29.99</p>
      <dl class="product-data product-info">
        <div class="product-info-row">
          <dt class="product-info-term">Brand</dt>
          <dd class="product-info-value">Apple</dd>
        </div>
        <div class="product-info-row">
          <dt class="product-info-term">Model Name</dt>
          <dd class="product-info-value">Airpods</dd>
        </div>
        <div class="product-info-row">
          <dt class="product-info-term">Color</dt>
          <dd class="product-info-value">White</dd>
        </div>
        <div class="product-info-row">
          <dt class="product-info-term">Form Factor</dt>
          <dd class="product-info-value">In Ear</dd>
        </div>
        <div class="product-info-row">
          <dt class="product-info-term">Connectivity Technology</dt>
          <dd class="product-info-value">Bluetooth</dd>
        </div>
      </dl>
      <button class="btn btn-primary btn-success">Add to Cart</button>
    </div>
  </div>
</section>
