<header class="main-header">
  <div class="container header-container">
    <a href="#">
      <h1 class="header-logo">
        <svg class="header-logo-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 19">
          <use xlink:href="./assets/images/brand-logo.svg#brand-logo"></use>
        </svg><!---
        --><span class="brand-name">BeeSound</span>
      </h1>
    </a>
    <nav class="navbar">
      <ul class="nav-menu">
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link">Our Collection</a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link">New Arrivals</a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link">For Gamers</a>
        </li>
      </ul>
    </nav>
    <div class="menu-buttons">
      <button class="btn btn-search">
        <svg class="menu-icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <use xlink:href="./assets/images/menu-icons.svg#search"></use>
        </svg>
      </button>
      <a href="/cart" class="btn btn-cart">
        <svg class="menu-icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <use xlink:href="./assets/images/menu-icons.svg#cart"></use>
        </svg>
      </a>
    </div>
    <button class="btn btn-entry">Sign in / Sign Up</button>
  </div>
</header>
